* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white-color: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-gray);
  text-align: center;
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 1.4rem;
  padding: 15px;
  font-weight: 700;
  color: var(--Dark-blue);
}
p {
  padding: 2px 15px 15px;
  max-width: 60ch;
  color: var(--Grayish-blue);
}
.img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  width: 90%;
}
.container {
  border-radius: 20px;
  background-color: var(--white-color);
  padding: 12px 0;
  width: 18rem;
  box-shadow: 0 4px 12px -4px rgba(0, 0, 0, 0.2);
}
